<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="loginsignup.css" />
    <title>Signup - Stock Value Tracker</title>
  </head>
  <body>
    <div class="container">
      <div class="formSection">
        <h1>Stock Value Tracker</h1>
        <h3>Sign up your account</h3>
        <form method="POST" action="signup">
          <div>
            <input
              name="email"
              id="email"
              type="text"
              placeholder="Email Address"
              required
            />
          </div>
          <div>
            <input
              name="password"
              id="password"
              type="password"
              placeholder="Password"
              required
            />
          </div>
          <div>
            <input
              name="verifypassword"
              id="verifypassword"
              type="password"
              placeholder="Verify Password"
              required
            />
          </div>
          <button type="submit">Signup</button>
        </form>
        <% if (error == true){ %>
        <p class="errorPassword">Password does not match!</p>
        <% } %>
        <a href="/login" class="link signUpLink">Already have an account?</a>
      </div>
      <div class="otherSection">
        <img
          src="https://images.unsplash.com/photo-1462206092226-f46025ffe607?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80"
          alt="login Image"
        />
      </div>
    </div>
  </body>
</html>
