*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

body{
    background-color: #65ccb8;
    /* background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%); */

}

.container{
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    padding: 50px 10px 10px 10px;
}

header{
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}

header h1{
    font-size: 2.5rem;
    font-weight: 500;
}

header button{
    border-style: none;
    /* margin-left: 50px; */
    padding: 1rem;
    background-color: #186e1f;
    color: white;
    border-radius: 10px;
    width: 8rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    text-transform: uppercase;
}

header button:hover{
    background-color: rgb(131, 33, 33);
}

.input{
    margin:40px 0px 20px 0px;  
}

.userInput{
    border: none;
    width: 25rem;
    padding: 0px 10px;
}

.minMaxBox{
    width: 10rem;
}

input:focus, button:focus{
    outline: none;
}

.addBtn{
   border: none;
   width: 8rem;
   background-color: #6db973;
}

.addBtn:hover{
    background-color: #5d8660;
}

.userInput, .addBtn{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    height: 2.5rem;
    font-size: 1rem;
    border-radius: 5px;
    text-transform: uppercase;
}

#stocks{
    border-collapse: collapse;
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

#stocks td, #stocks th{
    border: 1px solid #a888a8;
}

#stocks #tableHead{
    background-color: #6db973;
}

#stocks tr:hover{
    background-color: #97D9E1;
}

.lastCol{
    display: flex;
}

.deleteBtn, .updateBtn{
    width: 2rem;
    padding: 3px;
    border: 1px solid black;
    border-radius: 50%;
    margin: auto;
}

.deleteBtn i, .updateBtn i{
    pointer-events: none;
}

.deleteBtn:hover{
    border-color: red;
    color: red;
    cursor: pointer;
}

.updateBtn:hover{
    border-color: greenyellow;
    color: greenyellow;
    cursor: pointer;
}

.errorInput{
    color: rgb(189, 23, 23);
    /* font-size: 2rem; */
    font-weight: 600;
    display: none;
    margin-bottom: 20px;
}

@media only screen and (max-width: 1000px){
    .input{
       display: flex;
        flex-direction: column;
    }

    .input input, .input button{
        width: 70vw;
        margin: 0.3rem 0rem;
    }

    header h1{
        font-size: 5vw;
    }

    header button{
        padding: 1.5vw;
        border-radius: 10px;
        width: 15vw;
    }
}

@media only screen and (max-width: 770px){
    #stocks td:nth-child(2), #stocks td:nth-child(4), #stocks td:nth-child(5), 
    #stocks th:nth-child(2), #stocks th:nth-child(4), #stocks th:nth-child(5){
        display:none;
    }

    #stocks{
        font-size: 3vw;
    }
}

@media only screen and (max-width: 480px){
    header button{
        padding: 1.5vw;
        border-radius: 10px;
        width: 20vw;
    }
}

@media only screen and (max-width: 340px){
    #stocks{
        font-size: 2.25vw;
    }

    header button{
        padding: 1.2vw;
        border-radius: 10px;
        width: 20vw;
        font-size: 0.9rem;
    }
}